/* @page {
    size: A4;
    margin: 0;
      size: 14.85cm 21cm; 
  } */

@media print {

  @page {
    /* size: 14.85cm 21cm; */
    size: A4;
    margin: 0.5cm;
    
  }

  .main-content {
    /* border: 2px solid black; */
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    height: 28.7cm;

    page-break-after: auto;
  }

  .save-button,
  .btn,
  .print-btn {
    visibility: none;
    display: none;
  }

  #display {
    visibility: none;
    display: none;
  }

  .indisp {
    visibility: none;
    display: none;
  }

  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }

  #lab,
  #inputvr {
    visibility: none;
    display: none;
  }

  /* #maindiv
{
  width: 21cm;
  height: 29.7cm;
} */
  /* #main-content
{
  width: 20cm;
  height: 28.7cm;
  border: 2px solid black;
  margin:0.5cm;
  page-break-after: always;
} */
  table {
    width: 19.8cm;
    height: 28.6cm;
  }

}